<div>
  <div>
    <mat-form-field>
      <mat-label>Anual net salary</mat-label>
      <input
      matInput
      [formControl]="anualNetSalary"
      placeholder="Anual net salary"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Anual payments</mat-label>
      <mat-select [formControl]="anualPayments">
        <mat-option [value]="12">12</mat-option>
        <mat-option [value]="14">14</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>
<div>
  Anual net salary: {{ anualNetSalary.value }}
</div>
<mat-divider></mat-divider>
<div>
  Anual payments: {{ anualPayments.value }}
</div>
